.modal-header {
    border-bottom: none;
}

.right-content {
    h1 {
        font-size: 20px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        color: rgba(73, 73, 73, 0.6);
    }
}

.modal-footer {
    border: none;

    .btn-create {
        width: 200px;
    }
}
