/* Table CSS */
.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.table {
    min-width: 500px;
    width: 100%;
    table-layout: auto;
    border: 1px solid #dddeee;
}

.table th {
    color: #f59607;
    font-weight: 500;
}

/* Scrollbar Styles for WebKit Browsers */
.table-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #f5aa39;
    border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #f59607;
}

.table-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Pagination CSS */
.previous-btn {
    border: none;
    background: none;
}

.next-btn {
    border: none;
    background: none;
}

.page-btn {
    height: 30px;
    width: 30px;
    border: #f5aa39 solid 1px;
    background-color: white;
    margin: 3px;
}

.active.page-btn {
    background-color: #f5aa39;
    color: white;
    margin: 3px;
}

/* media query */
@media only screen and (max-width: 1024px) {
    .table th {
        font-size: 14px;
    }

    .table td {
        font-size: 13px;
    }
}

@media only screen and (max-width: 820px) {
    .table th {
        font-size: 12px;
    }
    .table td {
        font-size: 12px;
    }
}
