.profile-container {
    position: relative;
    background-color: white;
    width: 100%;
    border-radius: 15px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid #DCDCDC;
}

/* content starts */
.page-content {

    h3 {
        font-size: 20px;
    }

    .label {
        width: 200px;
    }

    .form-control {
        border-radius: 5px !important;
    }
}

/* media query */
@media only screen and (max-width: 820px) {
    .pic-container {
        left: 50%;
    }
}