#announcement {
    .item {
        border-bottom: #c4c4c4 1px solid;
    }

    .date {
        background: #f5aa39;
        font-size: 13px;
        padding: 6px 20px;
        color: white;
        border-radius: 18px;
    }

    .message {
        font-size: 14px;
        font-weight: 500;
    }

    .credits {
        font-size: 11px;
        color: #828282;
    }
}

#announcement-detail {
    .recipients-container {
        .parents {
            font-size: 12px;
            color: #828282;
        }
    }

    .message-content {
        color: #757576;
    }

    .details-container {
        font-size: 12px;
    }
}

#make-announcement {
    .parent-count {
        font-size: 10px;
        color: #828282;
    }
}

/* media query */
@media only screen and (max-width: 500px) {
    #make-announcement {
        .checkbox {
            font-size: 14px;
        }
    }
    #announcement {
        .message {
            font-size: 12px;
        }

        .date {
            font-size: 10px;
            padding: 6px 10px;
        }
    }
}

/* media query for announcement details */
@media only screen and (max-width: 768px) {
    #announcement-detail {
        .message-container h5,
        .recipients-container h5 {
            font-size: 16px;
        }
        .message-content {
            font-size: 14px;
        }

        .details-container {
            font-size: 12px;

            p {
                font-size: 10px;
            }
        }

        .recipients-container {
            .lesson {
                font-size: 12px;
            }

            .parents {
                font-size: 10px;
            }
        }
    }
}
