.modal-wrapper {
    position: relative;
    z-index: 1060;
}

.attendance-report-data {
    .content-body {
        margin-top: 0 !important;
    }
    .box-data {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }

    .box-data > div {
        color: #a3a3a3;
    }
}

@media only screen and (max-width: 450px) {
    #mark-attendance {
        .indicator {
            font-size: 14px;
        }
    }

    .attendance-report-data {
        .box-data > div {
            font-size: 12px;
        }

        .box-data p {
            font-size: 13px;
        }
    }
}
