  .forgot-password-form-container,
  .reset-password-form-container {
    border: 1px solid #dee2e6; 
    border-radius: 4px; 
    background-color: #ffffff; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
  }
  
  .forgot-password-form-container.box-area,
  .reset-password-form-container.box-area {
    width: 430px;
  }

  .forgot-password-illustration,
  .reset-password-illustration {
    max-width: 90px;
    height: auto;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
  }

  .email-placeholder,
  .newpassword-placeholder,
  .confirm-password-placeholder {
    text-align: center;
    font-size: 15px;
  }

  @media only screen and (max-width: 768px) {
    .forgot-password-form-container.box-area,
    .reset-password-form-container.box-area {
      margin: 0px 20px 20px 20px;
    }
  
    .forgot-password-message,
    .reset-password-message {
      font-size: 12px;
    }

    .email-placeholder,
    .newpassword-placeholder,
    .confirm-password-placeholder {
      font-size: 13px;
    }
  }
