.card {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 40px 60px;
  }

  .row.justify-content-center {
    display: flex;
    justify-content: center;
  }