@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

.guest-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #a9a0e1; /* Background color for the entire layout */
    padding: 20px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
