 .guest-layout-container {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     background-color: #a9a0e1;
 }

 .logo-text {
     font-size: 24px;
     font-weight: bold;
     color: #ffffff;
 }

 .guest-main-content {
     display: flex;
     flex-grow: 1;
     justify-content: center;
     align-items: center;
 }

 @media only screen and (max-width: 768px) {
     .logo-text {
         text-align: center;
     }
 }