.unassigned {
    background-color: #ffeed3;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 200px;
    border-radius: 10px;

    .subject-name {
        font-size: 18px;
        font-weight: 600;
    }

    .level-name {
        font-size: 12px;
    }

    p {
        font-size: 14px;
        color: #828282;
    }
}

.room-select {
    word-wrap: normal;
    width: 200px;
    background: #f0f1f3;
    border: none;
    padding: 5px;
    border-radius: 6px;

    option {
        background: #f0f1f3;
        border: none;
    }
}

/* Modal styling */
#confirmationModal .modal-header {
    border-bottom: none;
}

.right-content {
    h1 {
        font-size: 20px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        color: rgba(73, 73, 73, 0.6);
    }
}

.modal-footer {
    border: none;

    .btn-create {
        width: 200px;
    }
}

.alert-modal {
    border: #0ca565 solid 1px;

    .content {
        color: #1b998b;
        border-radius: 10px;
        border: solid 1px #1b998b;
        background: #dafae9;
    }
}

/* Full Calendar styling */
.fc-direction-ltr {
    height: 643px;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
    border-radius: 10px;
}

.fc-v-event .fc-event-main-frame {
    align-items: center;
}

.fc .fc-col-header-cell-cushion {
    color: #494949;
    font-weight: 400;
}

.fc .fc-button-primary {
    background-color: #a9a0e1;
    border: none;
    color: white;
}

.fc .fc-button-primary:disabled {
    background-color: #a9a0e1;
    border: none;
    color: white;
}

.fc .fc-button-primary:hover {
    background-color: #f5aa39;
}

/* lesson modal details */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modal-details {
        background: #fff;
        border-radius: 8px;
        max-width: 400px;
        width: 100%;
        text-align: left;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        .modal-header {
            border-bottom: 1px solid #dee2e6;
        }
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }
}

.modal-feedback {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-feedback.success {
    background: #dafae9;
    border: 1px solid #0ca565;
    color: #1b998b;
}

.modal-feedback.error {
    background: #ffdddd;
    border: 1px solid #a50c0c;
    color: #d62839;
}

/* Calendar Media Query */
#calendar {
    display: block;
}

/* .calendar-message {
    display: none; 
} */

@media only screen and (max-width: 1024px) {
    #calendar {
        display: none;
    }

    /* .calendar-message {
        display: block; 
        padding: 20px;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        text-align: center;
    } */
}

/* @media only screen and (max-width: 400px) {
    .calendar-message {
        padding: 10px;
    }
} */

/* Media Query */
@media only screen and (max-width: 450px) {
    .unassigned {
        padding: 10px;
        border-radius: 5px;

        .subject-name {
            font-size: 14px;
            font-weight: 600;
        }

        .level-name {
            font-size: 12px;
        }

        p {
            font-size: 10px;
            color: #828282;
        }
    }
}
